<div id="goods_header">

</div>
<div id="goods_menu">
    <div class="goods_menu_colors_show">
        <% if (locals.params.goods['sku_attr'] && locals.params.goods['sku_attr']['colors']) { %>
            <% var colors = params.goods['sku_attr']['colors'] %>
            <% for (var i = 0; i < colors.length; i++ ) { %>
                <div class="goods_menu_colors_show_canvas_bg">
                    <div class="goods_menu_colors_show_canvas goods_menu_colors_show_canvas<%=i%>" width="30" height="30" data-color="<%=colors[i]%>"></div>
                </div>
            <% } %>
        <% } %>
    </div>
    <div class="goods_menu_show">
        <img src="/static/image/3d/6e/71/14baa2b53b2ad54fe4771b9fff2aaf35.jpg">
    </div>
</div>
<div id="goods_container">
    <div class="goods_container_right"></div>
    <div class="goods_container_left"></div>
    <div class="goods_container_mid">
        <div class="goods_container_thumb">
            <img src="/static/image/3d/6e/71/14baa2b53b2ad54fe4771b9fff2aaf35.jpg">
            <img src="/static/image/3d/6e/71/14baa2b53b2ad54fe4771b9fff2aaf35.jpg">
            <img src="/static/image/3d/6e/71/14baa2b53b2ad54fe4771b9fff2aaf35.jpg">
            <img src="/static/image/3d/6e/71/14baa2b53b2ad54fe4771b9fff2aaf35.jpg">
            <img src="/static/image/3d/6e/71/14baa2b53b2ad54fe4771b9fff2aaf35.jpg">
            <img src="/static/image/3d/6e/71/14baa2b53b2ad54fe4771b9fff2aaf35.jpg">
            <img src="/static/image/3d/6e/71/14baa2b53b2ad54fe4771b9fff2aaf35.jpg">
        </div>
        <div class="goods_container_detail">
            <div class="goods_container_detail_attr">
                <div class="goods_container_detail_attr_price">99</div>
                <div class="goods_container_detail_attr_title">凉鞋</div>
                <div class="goods_container_detail_attr_color">
                    <% if (locals.params.goods['sku_attr'] && locals.params.goods['sku_attr']['colors']) { %>
                        <% var colors = params.goods['sku_attr']['colors'] %>
                        <% for (var i = 0; i < colors.length; i++ ) { %>
                        <div class="goods_menu_colors_show_canvas_bg">
                            <div class="goods_menu_colors_show_canvas goods_menu_colors_show_canvas<%=i%>" width="30" height="30" data-color="<%=colors[i]%>"></div>
                        </div>
                        <% } %>
                    <% } %>
                </div>
                <div class="goods_container_detail_attr_size">
                    <% if (locals.params.goods['sku_attr'] && locals.params.goods['sku_attr']['sizes']) { %>
                        <% var sizes = params.goods['sku_attr']['sizes'] %>
                        <% for (var i = 0; i < sizes.length; i++) { %>
                        <div class="goods_container_detail_attr_size_label_bg">
                            <div class="goods_container_detail_attr_size_label goods_container_detail_attr_size_label<%=i%>"><%=sizes[i]%></div>
                        </div>
                        <%}%>
                    <%}%>
                </div>
                <div class="goods_container_detail_attr_event">
                    <div class="goods_container_detail_attr_event_addCart"></div>
                    <div class="goods_container_detail_attr_event_keep"></div>
                </div>
            </div>
            <div class="goods_container_detail_video">
                <video src="/static/image/3d/6e/71/6d910e115870488a0cced6c27cc78ffc.mov" controls="controls"></video>
            </div>
        </div>
    </div>
</div>
<div id="goods_footer">

</div>
